/* This file is for your main application CSS */
#offcanvasExample {
    width: 70%;
}

.logo {
    width: 50px;
    height: 50px;
}

.cap {
    position: absolute;
    left: 60px!important;
}

@media (min-width: 992px) { 
    .user-left{
        left: -50px!important;
    }    
 }

 .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }

 .profile-width {
    margin: auto;
    width: 80%!important;
 }

 .user-profile {
    width: 100px!important;
    height: 100px!important;
 }

 .qrcode {
    width: 200px!important;
    height: 200px!important;
    opacity: 0.2;
 }